version: '3.8'

services:
  counsel-cat:
    image: counsel-cat
    build:
        context: .
    ports:
      - "8080:80"    # Maps host port 8080 to container's port 80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=80